.containerHomeCenter{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img{
    width: 250px;
    height: 150px;
  }
}

.login{
  margin-top: 2rem;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1.5rem;

  //apenas tamanho form
  form{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  //apenas tamanho do button
  form button{
    height: 40px;
    font-size: 1.2rem;
  }
  //apenas tamanho input
  input{
    width: 100%;
  }
}

.textLogin {
  margin-top: 1rem;
  color: var(--black);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3rem;

  span{
    font-weight: 600;
    color: var(--green-2C);

    &:hover{
      text-decoration: underline;
    }
  }
}

@media (max-width: 620px) {
  .login{
    width: 90%;
  }
}
