.input{
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--white);
  border: 1px solid var(--gray-9E);
  color: var(--gray-9E);
  height: 40px;
  font-weight: 400;
  font-size: 16.5px;
  text-align: center;
}

.input::placeholder{
  color: var(--gray-9E);
}

.input:focus{
  &::placeholder{
    color: transparent;
  }
}

.error{
  border-color: var(--red-EE);
}

.errorMessage{
  color: var(--red-EE);
  font-size: 12px;
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-left: 0.5rem;
}


   